<div class="bg-red-700 h-28 flex justify-between p-8 fixed w-full">
  <img src="assets/comilogo.png" alt="comunist logo" class="h-12">
  <img src="assets/yellmenu.png" alt="menu button" class="h-12">
</div>

<div class="h-32"></div>

<div class="md:p-3">

  <div class="md:flex">
    <div class="flex md:h-1/2">
      <img src="assets/xipic.png" alt="picture of chinese president Winnie the Pooh">
    </div>

    <div class="mt-7 mx-6">
      <h1 class="text-center font-bold text-3xl md:ml-8">Xi Jinping es elegido secretario general del PCCh</h1>
      <ul class="p-7 list-disc text-2xl leading-4">
        <li><span class="text-lg">Xi presenta su nuevo plan de gobierno.</span></li>
        <br>
        <li><span class="text-lg">Se realiza la décimo novena inspección de disciplina absoluta del partido.</span></li>
        <br>
        <li><span class="text-lg">Se nombran los nuevos miembros del comite en un acto solemne de 14 horas.</span></li>
      </ul>
    </div>
  </div>

  <div class="h-5"></div>

  <div class="md:flex">
    <div class="flex md:h-1/2">
      <img src="assets/guanyu.png" alt="picture of Guan Yu statue" class="">
    </div>

    <div class="mt-7 mx-6">
      <h1 class="text-center font-bold text-3xl">La estatua del gran Guan Yu será cambiada de lugar</h1>
      <ul class="p-7 list-disc text-2xl leading-4">
        <li><span class="text-lg">El gobierno regional de Jingzhou se prepara para la reubicación.</span></li>
        <br>
        <li><span class="text-lg">La obra costaría apenas 155 millones de Yuanes.</span></li>
        <br>
        <li><span class="text-lg">Los encargados de la ubicación erronea serán encarcelados
          y enviados a campos de disciplina.</span></li>
      </ul>
    </div>
  </div>

</div>